body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('Andre_Junior_Imagem_de_anime__com_varios__personagem_aleatorizo_93111435-ce31-469e-a345-3b4c42cfc852.png');
    background-size: cover; /* Tente também 'contain' se necessário */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Para evitar que o GIF se repita */
    height: 100vh; /* Garantir que o body tenha altura total */
    display: flex; /* Usado para centralizar conteúdos, se necessário */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}


.container {
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#titulo {
    text-align: center;
    color: #333;
}

#subtitulo {
    text-align: center;
    color: #666;
}

.campo {
    margin-bottom: 15px;
}

.campo label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input[type="text"],
.campo input[type="email"],
.campo select,
.campo textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.campo input[type="radio"],
.campo input[type="checkbox"] {
    margin-right: 10px;
}

.botao {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

.botao:hover {
    background-color: #218838;
}
